
@import './modal-video.min.css';
.open {
    width:20%;
    height: 30px;
    color: white;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
    background: #639;
    box-shadow: 0 -3px rgba(102, 51, 153, 0.63) inset;
    transition: 0.2s;
  } 

.open:hover {
  background: rgb(117, 84, 150);
  cursor: pointer;
}

.modal-video-close-btn:hover {
  cursor: pointer;
}
