.language-button {
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
  color: var(--link-color);
}

.language-button:hover {
  text-decoration: underline;
}

.selected {
  color: wheat;
  text-decoration: underline;
}
