.developer-picture {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.developer-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.github-link {
  display: block;
}
